<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream</title>
    <style>
        video {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Camera Stream</h1>
    <video id="video" autoplay playsinline></video>
    <script>
        // Запрашиваем доступ к камере на клиенте
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function(err) {
                console.log("Ошибка при доступе к камере: " + err);
            });
    </script>
</body>
</html>
